
#background {
    background: url(../img/fabric_of_squares_gray/fabric_of_squares_gray.png) #fff 0 0 repeat ;
    background-size: 410px 410px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.circle {
    position: fixed;
    left: 50%;
    bottom: 15%;
}
.round5 {
    border:1px solid rgba(119, 136, 153, 0.2);;
    width: 3200px;
    height: 3200px;
    margin-left: -1600px;
    margin-bottom: -1600px;
    border-radius: 1600px;
}
.round4 {
    border:1px solid rgba(119, 136, 153, 0.2);;
    margin-left: -800px;
    margin-bottom: -800px;
    width: 1600px;
    height: 1600px;
    border-radius: 800px;
}
.round3 {
    border:1px solid rgba(119, 136, 153, 0.2);;
    margin-left: -400px;
    margin-bottom: -400px;
    width: 800px;
    height: 800px;
    border-radius: 400px;
}
.round2 {
    border:1px solid rgba(119, 136, 153, 0.2);;
    margin-left: -200px;
    margin-bottom: -200px;
    width: 400px;
    height: 400px;
    border-radius: 200px;
}
.round1 {
    border:1px solid rgba(119, 136, 153, 0.2);;
    margin-left: -100px;
    margin-bottom: -100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.person {
    margin-left: -50px;
    margin-bottom: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: url(../img/icons/user_1.png) #dddddd no-repeat center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), 5px 10px 50px rgba(255,255,255,0.3) inset;
    background-size: 100% 100%;
}
.hide {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.show {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.user {
    position: absolute;

    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.user::after {
    position: relative;
    content: attr(data-user);
    font-size: 12px;
    background-color: rgb(204, 204, 204);
    border-radius: 3px;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3),0 5px 5px rgba(255, 255, 255, 0.5) inset;
    padding: 1px 5px;
    top: 82px;
    width: 88px;
    text-align: center;
    display: block;
    word-break: break-word;
}
.bigger {
    -webkit-transform: scale(1.3);
}
#users {
    position: fixed;
    top:0;
    left: 50%;
    margin-left: -45%;
    height: 75%;
    width: 90%;
}
#users ul {
    margin: 0;
    padding: 0;
}
#users li {
    margin: 5px 10px 8px;
    display: block;
    background-color: #E7E9F6;
    border: 1px solid #006e9d;
    padding: 5px 8px 7px;
}

.message_box {
    width: 30%;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -15%;
    margin-top: -50px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.5);
    overflow: hidden;
}
.message_box header {
    background-color: #cccccc;
    box-shadow: 0 12px 10px rgba(255,255,255,0.4) inset, 0 1px 2px rgba(0,0,0, 0.5);
}
.message_box header h3 {
    margin: 0;
    padding: 5px 10px 6px;
}
.message_box section {
    margin-top: 10px;
    min-height: 3em;
    max-height: 36vh;
    overflow: auto;
}
.message_box p {
    text-align: center;
}
.message_box footer {
    position: relative;
    text-align: center;
    padding-bottom: 1.2em;
}
.message_box button {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 5px;

    display: inline-block;
    padding: 0 16px;

    cursor: pointer;
    outline: none;
    height: 26px;
    line-height: 26px;
}
.message_box button.confirm {
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.25);
    border: 1px solid rgb(19, 98, 174);
    background: rgb(72, 156, 243);
    background: -moz-linear-gradient(top,rgba(72, 156, 243, 1) 0,rgba(26, 110, 197, 1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(72, 156, 243, 1)),color-stop(100%,rgba(26, 110, 197, 1)));
    background: -webkit-linear-gradient(top,rgba(72, 156, 243, 1) 0,rgba(26, 110, 197, 1) 100%);
    background: -o-linear-gradient(top,rgba(72, 156, 243, 1) 0,rgba(26, 110, 197, 1) 100%);
    background: -ms-linear-gradient(top,rgba(72, 156, 243, 1) 0,rgba(26, 110, 197, 1) 100%);
    background: linear-gradient(to bottom,rgba(72, 156, 243, 1) 0,rgba(26, 110, 197, 1) 100%);

    color: rgb(255, 255, 255);
}
.message_box button.confirm:hover {
    background: rgb(102, 169, 239);
    background: -moz-linear-gradient(top,rgba(102, 169, 239, 1) 0,rgba(28, 95, 165, 1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(102, 169, 239, 1)),color-stop(100%,rgba(28, 95, 165, 1)));
    background: -webkit-linear-gradient(top,rgba(102, 169, 239, 1) 0,rgba(28, 95, 165, 1) 100%);
    background: -o-linear-gradient(top,rgba(102, 169, 239, 1) 0,rgba(28, 95, 165, 1) 100%);
    background: -ms-linear-gradient(top,rgba(102, 169, 239, 1) 0,rgba(28, 95, 165, 1) 100%);
    background: linear-gradient(to bottom,rgba(102, 169, 239, 1) 0,rgba(28, 95, 165, 1) 100%);
}
.message_box button.refuse {
    -webkit-box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 1);
    box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 1);
    border: 1px solid rgb(153, 153, 153);
    background: rgb(245, 246, 246);
    background: -moz-linear-gradient(top,rgba(245, 246, 246, 1) 0,rgba(223, 223, 222, 1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(245, 246, 246, 1)),color-stop(100%,rgba(223, 223, 222, 1)));
    background: -webkit-linear-gradient(top,rgba(245, 246, 246, 1) 0,rgba(223, 223, 222, 1) 100%);
    background: -o-linear-gradient(top,rgba(245, 246, 246, 1) 0,rgba(223, 223, 222, 1) 100%);
    background: -ms-linear-gradient(top,rgba(245, 246, 246, 1) 0,rgba(223, 223, 222, 1) 100%);
    background: linear-gradient(to bottom,rgba(245, 246, 246, 1) 0,rgba(223, 223, 222, 1) 100%);

    color: rgb(91, 91, 91);
}
.message_box button.refuse:hover {
    box-shadow: none;
    background: rgb(223, 223, 222);
    background: -moz-linear-gradient(top,rgba(223, 223, 222, 1) 0,rgba(245, 246, 246, 1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(223, 223, 222, 1)),color-stop(100%,rgba(245, 246, 246, 1)));
    background: -webkit-linear-gradient(top,rgba(223, 223, 222, 1) 0,rgba(245, 246, 246, 1) 100%);
    background: -o-linear-gradient(top,rgba(223, 223, 222, 1) 0,rgba(245, 246, 246, 1) 100%);
    background: -ms-linear-gradient(top,rgba(223, 223, 222, 1) 0,rgba(245, 246, 246, 1) 100%);
    background: linear-gradient(to bottom,rgba(223, 223, 222, 1) 0,rgba(245, 246, 246, 1) 100%);
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    #background {
        background-image: url(../img/fabric_of_squares_gray/fabric_of_squares_gray_@2X.png) ;
    }
}
