<!DOCTYPE html>
<html lang="zh-CN" ng-app="Transporter">
<head>
  <meta charset="utf-8">
  <title>文件中转者</title>
  <meta name="author" contant="HJin.me">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/modal.css"/>
  <link rel="stylesheet" href="/css/main.css"/>
  <script src="/socket.io/socket.io.js" type="text/javascript"></script>
  <script src="/js/angular.js" type="text/javascript"></script>
  <script src="/js/angular-sanitize.js" type="text/javascript"></script>
  <script src="/js/main.js" type="text/javascript"></script>
</head>
<body>
<div class="pure-g" id="container">
  <div id="info" class="pure-u">
    <div ng-controller="InfoCtrl" id="personal">
      <i class="icon-edit edit" ng-click="changeName()"></i>
      <h4> {{user.name}} </h4>
    </div>
    <div class="divider"></div>
    <div ng-controller="UploadCtrl" id="upload">
      <div ng-repeat="task in queues" class="task">
        <i class="icon-remove-circle" ng-show="(task.progress < 100)" ng-click="cancelTask(task.tid)"></i>
        <h5>{{task.file.name}}</h5>
        <div class="progress_bar">
          <div ng-style="{width:task.progress + '%'}"></div>
        </div>
        <small>{{task.status}}</small>
      </div>
    </div>
  </div>
  <div ng-controller="ClientsCtrl" id="clients" class="pure-u">
    <div dropupload ng-repeat="client in clients" class="client pure-button pure-button-xlarge" data-sid="{{client.sid}}" ng-click="showDialog(client.name, client.sid)">
      <strong>{{client.name}}</strong>
    </div>
    <div>
      <div class="modal" ng-show="dialog.show">
        <div class="modal-header">
          <button type="button" class="close" ng-click="hideDialog()">&times;</button>
          <h3>发送给 {{dialog.name}}</h3>
        </div>
        <div class="modal-body">
          <form class="pure-form pure-form-stacked">
            <label for="message">消息</label>
            <textarea id="message" class="pure-input-1" ng-model="dialog.message"></textarea>
          </form>
        </div>
        <div class="modal-footer">
          <button class="pure-button" ng-click="hideDialog()">Close</button>
          <button class="pure-button pure-button-primary" ng-click="sendMessage()">Submit</button>
        </div>
      </div>
      <div class="modal" ng-show="alert.show">
        <div class="modal-header">
          <button type="button" class="close" ng-click="alert.show = false">&times;</button>
          <h3>消息 - 来自 {{alert.name}}</h3>
        </div>
        <div class="modal-body">
          <pre ng-bind-html="alert.message | linky"></pre>
        </div>
        <div class="modal-footer">
          <button class="pure-button" ng-click="alert.show = false">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-controller="DownloadCtrl" id="download">
  <iframe ng-repeat="url in list" ng-src="{{url}}"></iframe>
</div>
<div ng-controller="DialogCtrl">
</div>
</body>
</html>